<html>
<head>
<title>Edit</title>




</head>
<body>
<a href = "/homepage">Home</a><a href = "/addItem">Add Item</a><a href = "/logout">log out</a><br>
<form action ="{{url_for('Edit', item_id = i.id)}}" method = "post" id = "additem">
Item Name: <input type = "text" name = "name" value = "{{i.name}}"><br>
Category: <input type = "text" name = "category" value="{{i.category}}"><br>
Description: <textarea name = "description">{{i.description}}</textarea>
<input type = "submit" value = "submit">
</form>
</body>
</html>

